/* Speisekarte Framework - All Styles */
@import './App.css';
@import './Header.css';
@import './MenuCategory.css';
@import './MenuItem.css';
@import './CategoryNav.css';
@import './NotesList.css';
@import './OpeningHoursModal.css';
@import './VariantModal.css';
@import './StatusBadge.css';
@import './LegalModal.css';
@import './WhatsAppOrderModal.css';

/* Website/Homepage Styles */
@import './MenuPage.css';
@import './HomePage.css';
@import './WebsiteNav.css';
@import './sections/HeroSection.css';
@import './sections/AboutSection.css';
@import './sections/TeamSection.css';
@import './sections/GallerySection.css';
@import './sections/LocationSection.css';
@import './sections/ContactSection.css';
@import './sections/MenuSection.css';

